:root {
  --LaptopWidth: 25vw;
  --KeyboardWidth: calc(var(--LaptopWidth) + 10vw);
}

@media (max-aspect-ratio: 1.75/1) {
  :root {
    --LaptopWidth: 35vw;
  }
}
.LaptopContainer {
    width: var(--LaptopWidth);
}
.Keyboard {
    width: var(--KeyboardWidth);
}
.MobileContainer {
    width: 15vw;
    height: 30vw;
}

.PortfolioPage {
    height: 90vh; /* this is the default but somehow it doesn't respond */
    
}

.WebVector {
    width: 43vw;
}

.PortfolioPageContainer {
    justify-content: space-between;
}

.PortfolioContentContainer {
    display: flex;
    align-items: start;
}

.PortfolioCubeContainer {
    position: relative;
    top: 3vw;
    /* top: 4vw; */
    /* right: 0vw; */
}

.SeeMore {
    color: var(--Lavender-Blue, #E0E5F3);
    font-family: "Anek Bangla";
    /* font-size: 1.7vw; */
    /* line-height: 2.3vw; */
    border: unset;
    padding: clamp(5px, 0.3vw, 10px) clamp(10px, 1vw, 20px);
    border-radius: clamp(5px, 1vw, 20px);
    background: var(--linear-2, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%));
}

.SeeMoreH6 {
    letter-spacing: unset;
    margin: unset;
}

.WebTemplate {
    width: 48vw;
    /* width: 40vw; */
    /* position: relative; */
    /* bottom: 7vw; */
}

.WebExampleImg {
    position: absolute;
    transform: rotate(-15deg);
    width: 32.816vw;
    left: 0;
}


.MobileContainer > * {
    width: inherit;
    height: inherit;
}

.example {
    position: absolute;
    right: 0;
    z-index: -1;
}

.Keyboard > *, .Screen > * {
    position: absolute;
}

@media (min-width: 1200px) {
    .Platform {
    /* position: relative; */
    /* bottom: ; */
    }
}

@media (max-aspect-ratio: 1.75/1) {
    .PortfolioPageContainer {
        justify-content: unset;
    }

    .PortfolioContentContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: unset !important;
        justify-content: space-between;
    }

    .PortfolioContent {
        width: 80% !important;
    }
    .WebTemplate {
        width: 80vw;
    }
    .LaptopContainer {
        width: 35vw;
    }
    .MobileContainer {
        bottom: unset !important;
        left: unset !important;
        width: 20vw;
        height: 40vw;
    }
}

@media (max-width: 600px) {
 .WebVector {
    width: 35vw;
 }   
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Space between badges */
}

.badge {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--oxfordBlue);
  background-color: transparent;
  border: 1px solid var(--oxfordBlue);
  border-radius: 50px; /* Rounded corners */
  text-transform: capitalize; /* Capitalize first letter */
  cursor: default; /* Optional: Avoid pointer cursor */
  transition: all 0.3s ease;
}

.badge:hover {
  background-color: var(--oxfordBlue);
  color: #fff; /* Contrast color for text */
}
