.HomeContent {
  gap: 15vw;
  top: 27vh;
  z-index: -1;
}
.box {
    --box-width: 23vw;
  max-width: var(--box-width);
  color: #ffffff;
  position: relative;
  top: 20vh;
  font-size: 1.2vw;
}

.vector {
  width: 20vw
}

.vectorContainer.left {
    left: calc(var(--box-width) / 2);
}

.vectorContainer.right {
}


.box .rectangle {
    aspect-ratio: 2;
    padding: 1.736vw 0.579vw;
    border-radius: 1.447vw;
    border: 1px dashed #052453;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(107deg, rgba(11, 101, 238, 0.70) 2.77%, rgba(0, 23, 58, 0.70) 117.6%);
    filter: blur(0.5px);
}
