.box {
    --box-width: 25vw;
  /* height: 348px; */
  max-width: var(--box-width);
  color: #ffffff;
  position: relative;
  top: 25vh;
}


.vectorContainer.left {
    left: calc(var(--box-width) / 2);
}

.vectorContainer.right {
    right: calc(var(--box-width) / 2);
}

.box .rectangle {
    aspect-ratio: 2;
    padding: 30px 10px;
    border-radius: 25px;
    border: 1px dashed #052453;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(107deg, rgba(11, 101, 238, 0.70) 2.77%, rgba(0, 23, 58, 0.70) 117.6%);
    filter: blur(0.5px);
}

/* .box .left {
  height: 348px;
  left: 0;
  position: fixed;
  top: 0;
  width: 608px;
} */

/* .box .overlap-group {
  height: 348px;
  position: relative;
} */

/* .box .vector {
  height: 85px;
  left: 225px;
  position: absolute;
  top: 13px;
  width: 370px;
} */


/* .box .div {
  border: 1px solid;
  border-color: #768fc8;
  border-radius: 12.5px;
  height: 25px;
  left: 583px;
  position: absolute;
  top: 0;
  width: 25px;
} */



/* .box .text-wrapper {
  color: #ffffff;
  font-family: "Anek Bangla-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 185px;
  left: 17px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 32px;
  width: 416px;
} */


