/* LAYOUT */
.ControlledFlow {
    --ControlledFlowHeight: 90vh;
    position: fixed;
    top: 10vh;
    height: var(--ControlledFlowHeight);
}
.Page {
    height: var(--ControlledFlowHeight);
}






/* SCROLL EFFECT */
.ControlledFlow {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 5vh;
}
.ControlledFlow::-webkit-scrollbar {
  display: none;
}
.Page {
  transition: transform ease-in 700ms;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease-in-out;
  scroll-snap-align: start; 
}
.Page.fade-up {
  opacity: 0;
}

/* OTHER STYLING */
.ControlledFlow {
  display: flex;
  flex-direction: column;
}
.Page {
  /* margin-top: 90px; */
  /* border: 1px red solid;   */
  margin: 0 5.5vw;
}

/* .Page > * { */
  /* margin-top: 90px; */
  /* height: inherit; */
/* } */


