.FooterContainer {
    /* width: inherit; */
    width: 100vw;
    /* height: 100vh; */
    /* position: fixed;
    bottom: 0; */
    gap: 1vw;
    /* overflow: hidden;  fixing some stupid horizontal scroll  */

}

.BlueFooterContainer {
    width: 100vw;
}

.BlueFooter {
    --footerTextColor: var(--Lavender-Blue, #E0E5F3);
    /* width: 100%; */
    gap: 4vh;
    /* position: absolute; */
    /* bottom: 0; */
    border-radius: 50px 50px 0px 0px;
    background: var(--linear-1, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%));
}

/* Font Requirements */
.BlueFooter > * {
    color: var(--footerTextColor);
    /* font-size: 1.2vw;  */
    line-height: 1.2vw;
    letter-spacing: 0.2vw;
    white-space: nowrap;
}

.Grid > * {
    width: 100%; 
} 

.LogoWhite {
    height: 9vh;
}


.FooterHeading { 
    font-weight: var(--bold);
    line-height: 2.5vw;
}


.FooterContent {
    font-weight: var(--regular); 
}

.FooterContent > * {
   font-size: clamp(1rem, 1.3vw, 2.3rem); 
    margin: unset;
}

.WhiteHR {
    background: var(--footerTextColor);
}

.CopyRights {
    font-weight: var(--medium);
}


 @media (max-width: 768px) {
    .FooterCubeContainer {
        display: none;
    }
    .BlueFooter {
        height: 85vh;
    }
    .FooterColumn {
        width: 100%;
        gap: 1vh !important;
        /* display: flex; */
        /* flex-wrap: wrap; */
   }
  .FooterContent {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: center; /* Center content horizontally */
        gap: 1rem;
  }
  .CopyRightsContainer {
    flex-direction: column;
  }

 }