.NavLogo {
    width: 120px;
}

.NavContainer {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.NavItem > * {
    font-size: 20px;
    margin-left: 3vw;
    transition: text-decoration 0.5s ease ;
    color: var(--brightBlue) !important;
}

.ActiveNavItem > * {
    color: var(--oxfordBlue) !important;
}

.HoverNavItem {
    /* ??? */
}