.NavLogo {
    width: 5vw;
}

.NavContainer {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 5vw;
}

.NavItem {
    /* gap: 3vw; */
}

.NavItem > * {
    font-size: 20px;
    /* margin-left: 3vw; */
    transition: text-decoration 0.5s ease ;
    color: var(--brightBlue) !important;
}

.ActiveNavItem > * {
    color: var(--oxfordBlue) !important;
}

.HoverNavItem {
    /* ??? */
}