:root {
    --oxfordBlue: #062453;
    --lavenderBlue: #E0E5F3;
    --brightBlue: #768FC8;
    --linear1: linear-gradient(180deg, #0140A0 0%, #00173A 100%);
    --linear2: linear-gradient(180deg, #0140A0 0%, #00173A 100%);
    --linear3: linear-gradient(180deg, #052453 20%, #FFFFFF 150%);
    --linear4: linear-gradient(180deg, var(--brightBlue) 0%, #052453 100%);

    --linear-gradient: linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%);
    --text-gradient: linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%);
    --selected-color: #00173A;

    --font-family: 'Anek Bangla';

    --thin: 100;
    --extralight: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;

    --inputHeight: 2.5rem;

    --mediaWhiteFilter: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(388%) hue-rotate(193deg) brightness(100%) contrast(91%);
    --mediaHoverFilter: brightness(0) saturate(100%) invert(54%) sepia(61%) saturate(282%) hue-rotate(183deg) brightness(93%) contrast(93%);
}

.gradient1 {
  background: var(--linear1);
}

.gradient2 {
  background: var(--linear2);
}

.gradient3 {
  background: var(--linear3);
}

.gradient4 {
  background: var(--linear4);
}

.gradient1text {
  background: var(--linear1);
  background-clip: text;
  color: transparent;
}

.gradient2text {
  background: var(--linear2);
  background-clip: text;
  color: transparent;
}

.gradient3text {
  background: var(--linear3);
  background-clip: text;
  color: transparent;
}

.gradient4text {
  background: var(--linear4);
  background-clip: text;
  color: transparent;
}


.thin {
    font-weight: var(--thin);
}

.extralight {
    font-weight: var(--extralight);
}

.light {
    font-weight: var(--light);
}

.regular {
    font-weight: var(--regular);
}

.medium {
    font-weight: var(--medium);
}

.semibold {
    font-weight: var(--semibold);
}

.bold {
    font-weight: var(--bold);
}

.extrabold {
    font-weight: var(--extrabold);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

/* Basic Components */
.Button {
  --linear-gradient: linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%);
  --text-gradient: linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%);
  padding: 0rem 1.8rem;
  height: var(--inputHeight);
  font-size: clamp(1.1rem, 1.3rem ,1.5rem);
  font-weight: var(--medium);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--linear-1, #0140A0);
  background: var(--linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

