.SocialMediaContainer {
    min-width: 30%;
    justify-content: end;
    gap: 30px;
}

.SocialMediaIcon {
    width: clamp(20px, 1.5vw, 50px);    /* transition: all 0.4s ease; */
    transition: filter 0.4s ease; 
}

.SocialMediaIcon:hover {
    filter: var(--mediaHoverFilter);
}

/* @media only screen and (max-width: 768px) {
    .SocialMediaContainer {
        min-width: 100%;    
    }
    .SocialMediaIcon {
        width: 2rem;
        transition: all 0.4s ease;
    }
}

@media only screen and (max-width: 900px) {
    .SocialMediaContainer {
        min-width: 100%;    
    }
    .SocialMediaIcon {
        width: 2rem;
        transition: all 0.4s ease;
    }
} */


.WhiteMedia {
    filter: var(--mediaWhiteFilter);
}

@media (max-width: 768px) {
  .SocialMediaContainer {
    justify-content: center;
  }
}