.ContactHeading {
    font-size: 6vw;
    font-weight: var(--medium);
    letter-spacing: 1.481vw;
    background: linear-gradient(180deg, #052453 20.5%, #FFF 188%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FormHeading {
    font-size: 2.5vw;
    text-align: center;
    font-weight: var(--medium);
    letter-spacing: 0.33vw;
    height: 4vw;
    background: var(--linear1, linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Text Fields */
.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root, .css-zsp0bh-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 0.5vw !important;
    border: 0.09vw solid var(--linear-1, #0140A0);
    padding: unset !important;
    height: var(--inputHeight);
}

/* Multiline Text Field */
.css-zsp0bh-MuiInputBase-root-MuiOutlinedInput-root {    
    height: var(--inputHeight)*2;
}

.FormContainer label {
    font-size: 1.1vw;
    letter-spacing: 0.165vw;
    font-weight: var(--semibold);
    background: var(--linear1, linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Submitted {
    background: var(--selected-color);
    color: white;
    border-color: var(--selected-color)
}

