.multi-select {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 1.5rem; 
}

.Select.selected {
  /* Styles for selected button */
  background: var(--selected-color);
  color: white; /* Correct text color for selected badge */
  border-color: var(--selected-color);

  /* Remove transparent text effect when selected */  
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  border-radius: 10px;
  background: var(--linear-1, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(120deg, #0140A0 31.58%, #00173A 121.41%));
}


@media (max-width: 768px) {
  .multi-select {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .Select {
   flex: 1 1 calc(50% - 1rem); /* Default size: half width with space for gap */
   max-width: calc(50% - 1rem); /* Prevent larger than 50% */
  }
}
