.HomeTitle {
    font-size: 24vw;
    background: linear-gradient(180deg, #052453 20.5%, #FFF 188%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 260px; */
} 

.CubeHome {
  top: -5%;
}

.HomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  /* This will center horizontally */
  height: var(--ControlledFlowHeight); /* Full height of the viewport */
  position: relative;
}

.HomeTitle {
  position: relative;
  /* top: 10%; */
}

.CubeHome {
  position: absolute; /* Absolute positioning within the parent container */
  /* top: calc(20px); */
  transform: translateY(-50%);
}


.LogoOnCube {
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 10px;
  padding-top: -10px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(41%) hue-rotate(300deg) brightness(94%) contrast(74%);
}

.LogoOnCube, .HomeContent {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.LogoOnCube.show, .HomeContent.show {
  opacity: 1;
}

